

<div id="modalAddMaterialToOrder" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">добавляем материалы к заказу
                <button class="close" data-dismiss="modal">закрыть</button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row" style="background-color: #c0c7d2;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><button class="btn btn-primary btn-sm" onclick=addSwitcherSearch()>найти материал</button></div>

                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <h3 class="text-center">все материалы в базе</h3>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <div id="rezShowFormAddMaterialToOrder">результат зароса</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tableFildMaterialToAddToOrder">
                                    <table id="tableFildMaterialToAddToOrder"><!--таблица для показа всех материалов что есть в базе-->
                                        <!--сюда будет выкинут ответ сервера в виде <thead>...</thead><tbody>...</tbody>  -->
                                    </table>
                                </div>
                                <script type="text/javascript">
                                    function addSwitcherSearch() {
                                        var script = document.createElement('script');
                                        //script.src = "js/jsSortSearchTable.js";
                                        // script.src = url;
//                                        $('head').append(script);
                                        // alert('проверь');
                                        //console.log("Загружен файл1 "+ script.src + " для модального окна");
                                        script.src = "js/jsForTable2.js";
//                                        $('head').append(script);
//                                        console.log("Загружен файл1 "+ script.src + " для модального окна");
                                        $(document).ready(function() {
                                             $('#tableFildMaterialToAddToOrder').DataTable({
//                                            $('table').DataTable({
                                                scrollY: '60vh',
                                                scrollCollapse: true,
                                                paging: false
                                            });
                                        });
                                    }
                                </script>
                                <!--<script  type='text/javascript' src='js/jsSortSearchTable.js'></script>-->
                                <!--<script class='scriptDelete' type='text/javascript' src='js/jsForTable2.js'></script>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><label for="idInputNameMaterial">поиск по названию</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><input type="text"  name="inputNameMaterial" id="idInputNameMaterial" placeholder="название материала"/>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><button name="buttonSearchNameMaterial" class="btn btn-sm btn-success" title="искать материал в базе материалов"><span class="glyphicon glyphicon-search"></span> искать</button>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><button class="btnViewModalWinForMaterialsToThisOrder btn btn-sm btn-success" title="смотреть материалы в заказе"><span class="glyphicon glyphicon-eye-open"> материалы</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6" id="rezZaprosAddCountMaterial">
                            результат запроса на сервер
                        </div>
                    </div>
                    <!--<div class="row" style="background-color: #2aabd2;">-->
                        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                            <!--<div class="row">-->
                                <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                                    <!--<h3>таблица найденных по запросу материалов что есть в базе</h3>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                                    <!--<table id="tbSearchMaterialOnName">&lt;!&ndash;таблица найденных по запросу материалов которые мы выведем ниже таблицы всех материалов в базе&ndash;&gt;-->
                                    <!--</table>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
                           </div><!--modal-body-->
            <div class="modal-futer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >закрыть</button>
            </div>
        </div><!--modal content-->
    </div><!--modal-dialog-->
</div><!--modal-fade -->

<script type="text/javascript" src="js/addMaterialToOrder.js"> </script>

